.box-container {
  .box {
    padding: 1rem .5rem;
    .image-container {
      height: 20rem;
      width: 100%;
      background-image: url("https://via.placeholder.com/600x600.png");
      background-repeat: no-repeat, repeat;
      background-position: 50%;
    }
    .info-container {
      text-align: center;
      text-transform: capitalize;
      color: #000000;
    }
  }
}

